.hero {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 60vh;
  position: relative;
}

@media (width >= 768px) {
  .hero {
    grid-template-columns: 1fr 1fr;
    min-height: 70vh;
  }
}

.hero .hero-media {
  position: relative;
  overflow: hidden;
}

.hero .hero-media picture {
  position: absolute;
  inset: 0;
}

.hero .hero-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .hero-content {
  display: flex;
  align-items: center;
  padding: var(--space-8) 0;
}

.hero .hero-title {
  max-width: 20ch;
}

.hero .hero-body {
  max-width: 45ch;
}
